.content-wrapper {
    height: 100dvh;
}

.signup-container {
    max-width: 400px;
}

.input-field {
    border: none;
    outline: none;
    height: 35px;
}

.warning-text {
    color: rgb(255, 0, 0);
}

.signup-button {
    background-color: rgb(255, 255, 255);
    box-shadow: #ddd 3px 2px 10px inset, #ddd 5px 3px 10px;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
}