.content-wrapper {
    text-align: center;
}

.login-container {
    max-width: 400px;
}

.input-container {
    background-color: rgb(255, 255, 255);
    box-shadow: #ddd 5px 5px 15px 5px, #ddd -4px -5px 25px inset;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container input {
    background-color: rgb(255, 255, 255);
    box-shadow: #ddd 3px 2px 10px inset, #ddd 5px 3px 10px;
    border: none;
    outline: none;
    margin: 15px 0;
}

.eye-icon {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: 10px;
}

.shadow-button {
    background-color: rgb(255, 255, 255);
    box-shadow: #ddd 3px 2px 10px inset, #ddd 5px 3px 10px;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
}